[*.{kt,kts}]
ktlint_experimental = enabled

ktlint_standard_enum-entry-name-case = enabled
ktlint_standard_filename = disabled
ktlint_standard_final-newline = enabled
ktlint_standard_function-expression-body = enabled
ktlint_standard_function-signature = enabled
ktlint_standard_if-else-bracing = enabled
ktlint_standard_import-ordering = enabled
ktlint_standard_indent = enabled
ktlint_standard_backing-property-naming = enabled
ktlint_standard_class-naming = enabled
ktlint_standard_function-naming = enabled
ktlint_standard_package-name = enabled
ktlint_standard_property-naming = enabled
ktlint_standard_no-blank-line-in-list = enabled
ktlint_standard_no-consecutive-comments = enabled
ktlint_standard_no-empty-first-line-in-class-body = disabled #enabled
ktlint_standard_no-single-line-block-comment = enabled
ktlint_standard_max-line-length = disabled
ktlint_standard_no-blank-line-before-rbrace = enabled
ktlint_standard_no-consecutive-blank-lines = enabled
ktlint_standard_no-empty-class-body = enabled
ktlint_standard_no-empty-first-line-in-method-block = enabled
ktlint_standard_no-line-break-after-else = enabled
ktlint_standard_no-line-break-before-assignment = enabled
ktlint_standard_no-multi-spaces = enabled
ktlint_standard_no-semi = enabled
ktlint_standard_no-unit-return = disabled
ktlint_standard_filename = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_spacing-around-angle-brackets = enabled
ktlint_standard_annotation-spacing = enabled
ktlint_standard_spacing-between-declarations-with-comments = enabled
ktlint_standard_comma-spacing = enabled
ktlint_standard_comment-spacing = enabled
ktlint_standard_dot-spacing = enabled
ktlint_standard_double-colon-spacing = enabled
ktlint_standard_function-start-of-body-spacing = enabled
ktlint_standard_binary-expression-wrapping = disabled
ktlint_standard_indent = enabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_no-empty-file = disabled
ktlint_standard_package-name = disabled